<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am an extremely passionate Software Engineer with an extensive background in Embedded Systems, AI, and Game Development. I received my B.S. in Computer Science from Georgia State University in 2018.
        I am actively looking into pursuing my M.S. as well. Currently, I am developing Building Automation Systems using using Tridium's Niagara framework and APIs.
        Outside of work, I enjoy researching new technologies and developing projects in several different fields.
        When I'm not at my computer, I enjoy playing the Tenor Saxophone and spending time with my dog!</p>
      </div>
      <div class="col-lg-4">
        <p>Here is a handful of projects I have developed on my own and collaborated on with others.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/KevLopezTech" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Check out my GitHub!
        </a>
      </div>
    </div>
  </div>
</section>
